@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

.mobile{
    display: none;
}

body{
    background-color: #191922;
    color: aliceblue;
    font-family: helvetica, arial;
}

hr{
    border: 1.75px solid grey;
    margin: 1em auto;
    width: 50%;
}

a{
    text-decoration: none;
    color: white;
}

a:hover, .home:hover{
    color: #f5c438;
}

h5{
    font-size: .9em;
}

.parent-class{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 3vh 0;
}

.footer{
    text-align: center;
    margin-left: 2vw;
}

.sidebar{
    position: fixed;
    right: 0;
    background-color: #24242e;
    width: 5rem;
    height: 100%;
    padding: 2em 0 0 0;
    top: 0;
}

.home{
    color: white;
    margin: 0em 0 .3em 0em;
}

.vertical{
    writing-mode: vertical-rl;
    font-family: 'Roboto', sans-serif;
}

.vertical-2{
    writing-mode: vertical-rl;
    text-orientation: upright;
    padding: 0.5em 0em 0.1em 0em;
    font-size: .75em;
}

.icon{
    background: #24242d;
    border: 2px solid grey;
    border-radius: 15px;
    width: 85px;
    height: 85px;
    color:white;
    padding: 10px 0 0 14px;
    margin: 0.5em auto;
}

.icon:hover, .icon-0:hover{
    filter: invert(100%);
}

.icon-0{
    background: #24242d;
    border: 2px solid grey;
    border-radius: 15px;
    width: 100px;
    height: 100px;
    color:white;
    padding: 10px 0 0 14px;
    margin: 0.2em auto;
}

.icon-1{
    background: #24242d;
    border: 2px solid grey;
    border-radius: 15px;
    width: 100px;
    height: 100px;
    color:white;
    padding: 10px 0 0 14px;
    margin: auto;
    margin-bottom: 1em;
}

.icon-2{
    background: #24242d;
    border: 2px solid grey;
    border-radius: 15px;
    width: 180px;
    height: 180px;
    color:white;
    padding: 0 0 0 14px;
    margin: 0.2em auto 3em auto;
}

.image-icon{
    filter: invert(100%);
    padding-right: 13px;
    padding-top: 3px;
    margin: auto;
}

.image-icon:hover{
    filter: invert(100%);
}

.icon1{
    position: fixed;
    right: 1.5rem;
    bottom: 3rem;
    color:rgb(174, 174, 174);
}

.icon2{
    position: fixed;
    right: 1.5rem;
    bottom: 7rem;
    color:rgb(174, 174, 174);
}

.icon3{
    position: fixed;
    right: 1.5rem;
    bottom: 11rem;
    color:rgb(174, 174, 174);
}

.icon1:hover, .icon2:hover, .icon3:hover{
    color: white;
}

.cv-btn{
    position: fixed;
    color: white;
    bottom: 1rem;
    left: 1.5rem;
}

.cv-text{
    display: inline-block;
    margin: 0;
    font-weight: bold;
}

.navigation{
    position: sticky;
    display: flex;
    flex-direction: column;
}

.navigation-bar{
    position: fixed;
    top: 0;
    left: 0;
    margin: 2em 1em;
}

.scroll-skills{
    position: relative;
    margin-top: 7em;
    text-align: center;
}

.scroll-projects{
    position: relative;
    margin: auto;
    text-align: center;
}

.scroll-experience{
    position: relative;
    text-align: center;
    margin:auto;
}

.category-container{
    margin: 4rem 0 7rem 0;
    background-color: #101013;
    border-radius: 2em;
    box-shadow: 0em 0.2em #f5c438;
    padding: 0 4em;
}

.sub-title{
    text-align: center;
    padding: 1.5em;
    font-family: 'Roboto', sans-serif;
}

.img-proj:hover{
    box-shadow: 0em 0.4em #f5c438;
}

.job-icon{
    padding-right: 13px;
    padding-top: 3px;
}

.event-icon{
    padding-right: 13px;
    padding-top: 20px;
    width: 150px;
}

.icon-1:hover, .icon-2:hover{
    border: 3px solid rgb(140, 139, 120);
    background: #dbdbd2;
}

.greetings{
    display: flex;
    justify-content: center;
    margin-top: 15em;
    font-family: 'Oswald', monospace;
    font-weight: 300;
}

.job-title{
    margin-bottom: 1em;
    white-space: nowrap;
}

.job-title-2{
    margin: 2.5em 1em 2.5em 0;
    white-space: nowrap;
    white-space: nowrap;
    font-weight: bold;
    font-size:1em;
}

.video{
    width: 100%;
    height: 20.5em;
}

@media only screen and (max-width: 960px){
    .mobile{
        display: block;
    }

    .sidebar, .navigation-bar, .cv-btn{
        display: none;
    }

    .greetings{
        margin-top: 7em;
    }
}